
/*--------------------------------*/
/*            LOADIN              */
/*--------------------------------*/


div.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
}

/*--------------------------------*/
/*            FILMES              */
/*--------------------------------*/

div.filme-info{
    margin: 0 auto;
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding: 0 8px;
}

div.filme-info h1{
    margin: 14px 0;
}

div.filme-info img{
    border-radius: 8px;
    width: 800px;
    max-width: 100%;
    margin-right: 340px;
    object-fit: cover;
}

div.filme-info h3{
    margin-top: 14px;
}

div.filme-info span{
    margin: 8px 0;
}

div.area-buttons button{
    margin-right: 12px;
    margin-top: 14px;
    margin-left: 0;
    font-size: 20px;
    border: 0;
    outline: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #FFF;
    transition: all 0.5s;
}

div.area-buttons button:hover{
    background-color: brown;
    color: #FFF;
}

div.area-buttons button a{
    text-decoration: none;
    color: #000;
    transition: all 0.5s;
}

div.area-buttons button a:hover{
    color: #FFF;
}
