
/*--------------------------------*/
/*            LOADIN              */
/*--------------------------------*/


div.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
}


/*--------------------------------*/
/*            FILMES              */
/*--------------------------------*/

div.lista-filmes{
    max-width: 800px;
    margin: 14px auto;
}

div.lista-filmes article{
    width: 100%;
    background-color: #FFF;
    padding: 15px;
    border-radius: 4px;
}

div.lista-filmes strong{
    margin-bottom: 14px;
    text-align: center;
    font-size: 22px;
    display: block;
}

div.lista-filmes img{
    width: 900px;
    max-width: 100%;
    max-height: 340px;

    object-fit: cover;
    display: block;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

div.lista-filmes a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 24px;
    padding: 10px 0;
    background-color: #116feb;
    color: #FFF;

    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

div.lista-filmes a:hover{
    opacity: 0.7;
}